*.iml
.gradle
/local.properties

# Supabase Keys
app/src/main/java/com/example/goalapp/data/SupabaseClient.kt
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Supabase Keys
app/src/main/java/com/example/goalapp/data/SupabaseClient.kt
